@charset "UTF-8";
/*CSS reset*/
html {
    color:#000;background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin:0;padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
    -ms-word-break: keep-all;
    word-break: keep-all;;
    white-space: nowrap;
}
fieldset,img{
    border:0;
}
ol,ul{
    list-style:none;
}
label {
    font-weight:normal;
    width: 60px;
    text-align: right;
}
button {
    outline:none;
}
.hide {
    display: none;
}
.glyphicon {
    top:3px;
}
a:hover {
    text-decoration: none;
}
.placeholder {
    color: #aaa;
}
h4 {
    font-size: 14px;
}