@charset "UTF-8";
.form-box-title {
    padding: 0;
    margin: 0 10px 10px;
}

#modal-audit label {
    min-width: 0;
}
#modal-audit .radio-inline input[type=radio] {
    top: -2px;
}

.tooltip-box {
    top: -20px;
    left: 180px;
    width: 550px;
}
.tooltip-box:before, .tooltip-box:after {
    content: '';
    position: absolute;
    top: 65px;
    left: -30px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #fff;
}
.tooltip-box:before{
    left: -31px;
    border-right-color: #00f;
}
.tooltip-box table label {
    min-width: 90px;
}
