/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-family:"宋体", 'Arial Normal', 'Arial',HELVETICA,sans-serif;
}
h3{font-size: 16px;}
h4{font-size: 14px;}
img{vertical-align: middle; border:none 0}
a{cursor: pointer;text-decoration: none}
a:hover{text-decoration:none;}

/*表&表单*/
table{width:100%; border-collapse:collapse; border-spacing:0; border:1px solid #eee;}
input,select{vertical-align: middle; line-height: 1.5;}
textarea{resize:none}
label {vertical-align: middle; margin-bottom:0;min-width: 65px;text-align: right;}
input:focus , textarea:focus {outline: none}
th {
    white-space:nowrap;
}
/*文字排版*/
.fb{font-weight:bold}
.fn{font-weight:normal}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.strong{font-weight:bold}

/*定位*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.tb {font-weight: bold;}
.tn {font-weight: normal;}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.vm{vertical-align:middle}
.pr {position: relative;}
.pa {position: absolute;}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}
.w{width:100%}
.h{height:100%}
.mc {margin:0 auto;}

/*浮动闭合
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{_height:1%;}
*/


/*自定义*/
.opened{border-right:2px solid #337ab7;}
.cb-content .cc-top h3 .glyphicon{top: 0;font-size: 12px;margin: 0 5px;}
.cb-content .cc-top h3 a{color:#125683;text-decoration:underline;}
.cm-box{min-width:839px; margin-top: 15px;}
.star,.red{color:#f00;}
.blue{color:#00f;}
.bg-blue{background-color: #98CBFE;}
.bg-gray{background-color: #EFEBEF;}
/*日期输入框背景*/
.date {
    background: #fff url("../../images/ico_date.png") no-repeat 100px center;
}
.btn {
    padding: 5px 20px;
}
.btn .glyphicon {
    margin-right:5px;
}

/*新增按钮颜色*/
.btn-lightBlue, .btn-purple, .btn-orange, .btn-blue, .btn-gray, .btn-green, .btn-lightPurple {color: #fff;}
.btn-lightBlue {
    background-color: #9cf;
    border-color: #9cf;
}
.btn-lightBlue:hover,
.btn-lightBlue:focus{
    color: #fff;
    background-color: #9af;
    border-color: #9af;
}
.btn-purple {
    background-color: #800080;
    border-color: #800080
}
.btn-purple:hover, .btn-purple:focus {
    color: #fff;
    background-color: #804080;
    border-color: #804080
}
.btn-orange {
    background-color: #f90;
    border-color: #f90;
}
.btn-orange:hover, .btn-orange:focus {
    color: #fff;
    background-color: #f95;
    border-color: #f95;
}
.btn-blue {
    background-color: #00f;
    border-color: #00f;
}
.btn-blue:hover, .btn-blue:focus {
    color: #fff;
    background-color: #00c;
    border-color: #00c;
}
.btn-gray {
    background-color: #999;
    border-color: #999;
}
.btn-gray:hover, .btn-gray:focus {
    color: #fff;
    background-color: #555;
    border-color: #555;
}
.btn-green {
    background-color: #007f00;
    border-color: #007f00;
}
.btn-green:hover, .btn-green:focus {
    color: #fff;
    background-color: #006000;
    border-color: #006000;
}
.btn-lightPurple {
    background-color: #c9f;
    border-color: #c9f;
}
.btn-lightPurple:hover, .btn-lightPurple:focus {
    color: #fff;
    background-color: #c5f;
    border-color: #c5f;
}
/*表单样式重写*/
.checkbox-inline input[type=checkbox],
.radio-inline input[type=radio] {
    top: 5px;
}

/*表单组公共样式*/
.form-box-title {
    padding: 5px 15px 10px;
    margin: 0 15px 10px;
    border-bottom: 1px solid #000;
}
.form-box {
    margin: 0 15px 10px;
}
.form-box .form-item {
    float: left;
    padding: 5px 0;
    margin-right: 24px;
}
.form-box .form-item-height {
    height: 30px;
    line-height: 30px;
}
.form-box .form-item-fr {
    float: right;
    padding: 5px 0;
    min-width: 320px;
}
.form-box .form-item-fr .form-item {
    padding: 0;
    margin-right: 0;
}

.form-box .form-item label {
    text-align: right;
}
.form-box .form-item .label {
    padding: 5px 20px;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}
.form-box .form-item .label:hover,
.form-box .form-item .labelCur{
    color: #fff;
    background-color: #009DD9;
}



/*modal公共样式*/
.modal .form-box {
    padding: 0;
}
.modal .form-box .clearfix {
    margin-bottom: 10px;
}
.modal .form-box .form-item {
    margin-right: 10px;
}
.modal .form-box .form-item-fr {
    min-width: 0;

}
.modal .form-box .form-item .radio-inline {
    margin-right: 20px;
}
.modal .form-box .form-item label {
    float: left;
    margin-right: 10px;
    min-width: 65px;
    height: 30px;
    line-height: 30px;
}
.modal .form-box .form-item .btn {
    padding: 5px 10px;
}
.modal .form-box .form-item .btn .glyphicon {
    margin-right: 5px;
}
.modal .modal-tabs .nav{
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}
/*短信模态框*/
#modal-message .form-box  label {
    float: left;
    min-width: 75px;
    height: 30px;
    line-height: 30px;
    margin-right: 0
}
#modal-message .form-box .form-item .form-control {
    display: inline-block;
    width: 130px;
}
#modal-message .form-box .form-item-inline {
    margin-left: 85px;
    margin-bottom: 5px;
}
#modal-message .receiver {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px;
}
#modal-message .btn {
    padding: 5px 10px;
}
#modal-message .btn .glyphicon {
    margin-left: 10px;
    margin-right: 0;
}

/*电话模态框*/
#modal-tel .modal-body p {
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}

/*tab*/
.tabs {
    margin: 0 15px 10px;
    border-bottom: 5px solid #999;
}
.tabs li {
    float: left;
}
.tabs li a {
    display: block;
    min-width: 120px;
    text-align: center;
    padding: 10px 20px;
    border-left: 1px solid #797979;
    border-top: 1px solid #797979;
    color: #000;
}
.tabs li a:focus {
    text-decoration: none;
}
.tabs li.active a {
    color: #fff;
    background-color: #999;
}

/*底部ulynlist表格插件*/
.table-box {
    position: relative;
    margin: 0 15px;
}
.table-box #tb-info a,
.table-box #tb-info1 a,
.table-box #tb-info2 a{
    color: #00c;
    text-decoration: underline;
}

/*tooltip弹出框公共样式*/
.tooltip-box {
    position: absolute;
    z-index: 100;
    padding: 15px;
    border: 1px solid #00f;
    background-color: #fff;
}
.tooltip-box .tooltip-header {
    color: #00f;
    border-bottom: 1px solid #00f;
    margin-bottom: 10px;
}
.tooltip-box .tooltip-body table {
    border: none;
}
.tooltip-box .tooltip-body table>tbody>tr {
    border-bottom: 1px dashed #aaa;
}
.tooltip-box .tooltip-body table>tbody>tr:last-child {
    border: none;
}
.tooltip-box .tooltip-body table>tbody>tr>th {
    color: #00f;
}
.tooltip-box .tooltip-body table>tbody>tr>td,
.tooltip-box .tooltip-body table>tbody>tr>th{
    padding: 6px;
}